Source: thinkpad-wmi
Section: kernel
Priority: optional
Maintainer: Corentin Chary <corentin.chary@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), dkms (>=1.95)
Standards-Version: 3.9.1

Package: thinkpad-wmi-dkms
Architecture: all
Depends: dkms (>= 1.95), linux-headers-generic (>= 2.6) | linux-headers, findutils (>= 4), ${misc:Depends}
Description: Thinkpad WMI driver in DKMS format.
 This package contains thinkpad-wmi drivers.

